<div class="panel-body">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading black-panel-heading">
                <h5 class="text-center">My Tickets</h5>
            </div>
            <%= render 'layouts/users_ticket_table' %>
        </div>
    </row>
</div>