<div class="panel panel-default">
    <div class="panel-heading black-panel-heading">
        <h2 class="text-center"><%= @user.first_name %> <%= @user.last_name %></h2>
    </div>
    <%= render 'layouts/users_ticket_table' %>
</div>