<div class="panel panel-default">
    <div class="panel-heading black-panel-heading">
        <h3 class="text-center">Search Results</h3>
    </div>
    <%= render 'layouts/detailed_ticket_table' %>
</div>