@import "bootstrap";
@import "bootstrap-sprockets";

body {
    margin-top: 51px;
    background-color: #f1f1f1;
}

.container {
    // background-color: #d3d3d3;
    background-color: white;
}

.panel-default {
    padding: 0;

    .black-panel-heading {
        background-color: #333333;
        color: white;
        border-color: #101010;
    }
}

table {
    font-size: .85em;
}

hr {}